# Ignore all .log files
*.log

# Ignore the node_modules directory
Recognizing Face in the Wild/recognizing-faces-in-the-wild/
Recognizing Face in the Wild/train/
# Ignore specific file

Recognizing Face in the Wild/train_relationships.csv
Binary Prediction of Poisonous Mushrooms/sample_submission.csv
Binary Prediction of Poisonous Mushrooms/submission.csv
Binary Prediction of Poisonous Mushrooms/train.csv
Binary Prediction of Poisonous Mushrooms/test.csv

Natural Language Processing with Disaster Tweets/sample_submission.csv
Natural language Processing with Disaster Tweets/test.csv
Natural language Processing with Disaster Tweets/train.csv
